.heading {
    font-size: 4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding-bottom: 20px;
    padding-top: 5px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

.btn-col {
   padding-top: 31px;
}

.list-group-item {
    border: none !important;
}

#tasks {
    padding-top: 30px;
}

.completed, .delete, .btnAdd {
    border: none !important;
}

#textarea{
 margin-top: 30px;   
}